@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap');

:root {
  --text: #181818;
  --background: #ffffff;
  --primary: #2f27ce;
  --secondary: #dedcff;
  --accent: #433bff;

  --primary-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  --secondary-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

body, html {
  background-color: var(--background);
  color: var(--text);
  margin: 0; padding: 0;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

h1, h2, h3 {
  margin: 0.5rem 0;
}

footer {
  padding: 5rem 10rem;
  border-top: 1px solid var(--text);
}

.splash {
  width: 100vw;
  height: 100vh;
  background-color: var(--primary);
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  color: var(--background);
  margin-bottom: 15rem;
}

.splash .content {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5rem;
}

.splash .content section {
  width: 100%;
  flex: 1;
}

.expand_from_splash {
  position: absolute;
  left: 50%;
  bottom: 3rem;
  transform: translate(-50%, -50%);
  width: 3rem;
  height: 3rem;
  filter: invert(1);
  transition: 1s ease opacity;
}

.members {
  display: grid;
  gap: 2rem;
}

.member {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background-color: var(--text);
  display: flex;
  align-items: center;
  gap: 3rem;
  box-shadow: var(--secondary-shadow);
  transform: scale(1);
  transition: 0.35s ease transform, 0.35s ease box-shadow;
}

.member:hover {
  transform: scale(1.025) rotate(-1deg);
  box-shadow: var(--primary-shadow);
}

.member img {
  object-fit: cover;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.member section {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 10rem 15rem;
}

.episodes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  gap: 1rem;
}

.episode {
  display: flex;
  flex-direction: column;
  color: var(--background);
  background-color: var(--primary);
  transform: scale(1);
  box-shadow: var(--secondary-shadow);
  transition: 0.35s ease transform, 0.35s ease box-shadow;
}

.episode:hover {
  transform: scale(1.025);
  box-shadow: var(--primary-shadow);
}

.episode .info {
  padding: 1rem;
}

.episode img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  filter: opacity(0.8); 
  transition: 0.35s ease filter;
}

.episode img:hover {
  filter: opacity(1);
  cursor: pointer;
}

.play_podcast {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background-color: transparent;
  border-radius: 50%;
  outline: none;
  border: transparent;
}

.play_podcast img {
  height: 5rem;
  width: 5rem;
}

.socials {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.socials a {
  width: 3rem;
  height: 3rem;
  text-decoration: none;
}

.socials a img {
  width: 100%;
  height: 100%;
}
